<!DOCTYPE html>
<html data-theme="dark" manifest="boozehound.appcache">

<head>
   <title>bcl</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="color-scheme" content="light dark">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.lime.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.lime.min.css"> -->
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.lime.min.css" /> -->

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
   <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>

   <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
   <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
   <header class="container">
      <a href="/">
         <img src="/static/img/bh.png" />
      </a>
      <hgroup>
         <h1>BoozeHound</h1>
         <p>Sniffing Out the Best Deals on Your Favorite Spirits!</p>
      </hgroup>
   </header>
   <main id="app" class="container">
      <filter-component v-if="!loading" :country.sync="filters.country" :category.sync="filters.category"
         :countries="countries" :categories="categories" :update-filters="updateFilters"></filter-component>
      <article v-if="loading" aria-busy="true"></article>
      <div class="grid" v-else>
         <item-component v-for="(category, index) in groupedProducts" :key="index" :item="category"
            @on-filter="setFilter" @on-select="openModal"></item-component>
      </div>
      <modal-component v-if="isModalOpen" :product="selectedProduct" @on-close="closeModal"></modal-component>
   </main>
   <footer class="container">
      <nav>
         <ul>
            <li><strong>BoozeHound</strong></li>
         </ul>
         <ul>
            <li><small>Site design / logo © 2024 Eclisoft Inc.</small></li>
         </ul>
         <ul>
            <li><a class="secondary" href="#">About</a></li>
            <li><a class="secondary" href="#">Services</a></li>
            <li><a class="secondary" href="#">Products</a></li>
         </ul>
      </nav>
   </footer>

   <script type="text/x-template" id="filter-component">
      <fieldset role="group">
         <select name="country" aria-label="Counties" required :value="country" @change="update('country', $event)">
            <option value="">All</option>
            <option v-for="country in countries" :key="country.code" :value="country.code">
               {{ country.name }}
            </option>
         </select>
         <select name="category" aria-label="Categories" required :value="category" @change="update('category', $event)">
            <option value="">All</option>
            <option v-for="category in categories" :key="category.id" :value="category.id">
               {{ category.description }}
            </option>
         </select>
         <button class="secondary" type="reset" @click="reset()">Reset</button>
      </fieldset>
   </script>

   <script type="text/x-template" id="item-component">
      <div class="category">
         <h2>{{ item.category }}</h2>
         <div class="grid item" v-for="(product, index) in item.items"
            :key="index">
            <div class="image-container">
               <img :src="product.image"
                  @click="select(product)"
                  @error="handleImageError($event, product.category)" />
               <a href="#" :class="'fi fi-' + product.country.code.toLowerCase()" class="fis" @click="filter('country', product.country.code)"></a>
            </div>
            <div class="product-details">
               <hgroup>
                  <p class="price" v-if="product.price.sale_price !== product.price.price">
                     <span class="crossed">${{ product.price.price }}</span>
                     <mark>${{ product.price.sale_price }}
                     </mark><br />
                     <small>${{ (product.price.price - product.price.sale_price).toFixed(2) }} OFF (until
                        {{printDate(product.price.promotion_end_date)}})</small>
                  </p>
                  <p class="price" v-else>${{ product.price.price }}</p>
                  <p>
                     <a :href="product.url" target="blank">{{ product.name }}</a>
                  </p>
               </hgroup>
               <p class="item-category">
                  <a href="#" v-for="(category, i) in product.full_category" :key="i" class="contrast" @click="filter('category', category.id)">{{category.description }}</a>
               </p>
               <div class="math">
                  <small>
                     <span>{{product.volume}}L</span> <span v-if="product.unit_size > 1">x {{product.unit_size}}</span>
                  </small>
                  <small>alc. {{ product.alcohol }}% vol.</small>
               </div>
               <div class="math">
                  <small>${{(product.ppml*100).toFixed(2)}}/100ml</small>
                  <small>Boozecore: {{product.combined_score.toLocaleString()}}</small>
               </div>
            </div>
         </div>
      </div>
   </script>

   <script type="text/x-template" id="modal-component">
      <dialog id="modalDialog" class="modal" open>
         <article class="modal-content">
            <header>
               <button @click="close()" aria-label="Close" rel="prev" data-target="modal-example"></button>
               <label>{{ product.name }}</label>
            </header>
            <div class="grid">
               <img
                  :src="renderImage()"
                  @error="handleImageError($event, product.category)"
                  class="modal-image" />
               <div>
                  <hgroup>
                     <h3><a :href="product.url" target="blank">{{ product.name }}</a></h3>
                     <p>{{ product.tastingDescription }}</p>
                  </hgroup>
                  <div>
                        <b>Price:</b> <span>${{ product.price.sale_price }}</span><br/>
                        <b>Unit size:</b> <span>{{ product.unit_size }}</span><br/>
                        <b>Volume:</b> <span>{{ product.volume }}L</span><br/>
                        <b>Alc.:</b> <span>{{ product.alcohol }}%</span><br/>
                  </div>
               </div>
            </div>
            <footer>
               <button autofocus="" @click="close()">Close</button>
            </footer>
         </article>
      </dialog>
   </script>

   <script src="/static/main.js"></script>
</body>

</html>
