<!DOCTYPE html>
<html data-theme="dark" manifest="boozehound.appcache">

<head>
   <title>BoozeHound - Sniffing Out the Best Deals on Your Favorite Spirits!</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="color-scheme" content="light dark">
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.lime.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.lime.min.css"> -->
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.lime.min.css" /> -->

   <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.2.3/css/flag-icons.min.css" />
   <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>

   <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
   <link rel="stylesheet" href="/static/style.css" />
</head>

<body>
   <header class="container">
      <a href="/">
         <img src="/static/img/bh.png" />
      </a>
      <hgroup>
         <h1>BoozeHound</h1>
         <p>Sniffing Out the Best Deals on Your Favorite Spirits!</p>
      </hgroup>
   </header>
   <main id="app" class="container">
      <filter-component v-if="!loading"
         :sort.sync="sorts.length"
         :country.sync="filters.country"
         :category.sync="filters.category"
         :search.sync="filters.search"
         :countries="countries"
         :categories="categories"
         :update-filters="updateFilters"
         :update-sorts="updateSorts"></filter-component>
      <article v-if="loading" aria-busy="true"></article>
      <div class="grid" v-else>
         <item-component v-for="(category, index) in groupedProducts" :key="index" :item="category"
            @on-filter="setFilter" @on-select="openModal"></item-component>
      </div>
      <modal-component v-if="isModalOpen" :product="selectedProduct" @on-close="closeModal"></modal-component>
   </main>
   <footer class="container">
      <nav>
         <ul>
            <li><strong>BoozeHound</strong></li>
         </ul>
         <ul>
            <li><small>Site design / logo © 2025 BoozeHound Inc.</small></li>
         </ul>
         <ul>
            <li><a class="secondary" href="#">About</a></li>
            <li><a class="secondary" href="#">Services</a></li>
            <li><a class="secondary" href="#">Products</a></li>
         </ul>
      </nav>
   </footer>

   <script type="text/x-template" id="filter-component">
      <form @submit.prevent class="filter-form">
         <div class="grid">
            <div>
               <h3>Sort By</h3>
               <fieldset>
                  <input name="top_drop" type="radio" id="none"  @change="update_sorts('none', $event)" checked/>
                  <label htmlFor="none">Default</label>
                  <input name="top_drop" type="radio" id="price_drop_rate" @change="update_sorts('-price_drop_rate', $event)"/>
                  <label htmlFor="price_drop_rate">Top Drops (%)</label>
                  <input name="top_drop" type="radio" id="price_drop" @change="update_sorts('-price_drop', $event)"/>
                  <label htmlFor="price_drop">Top Drops ($)</label>
                  <input name="top_drop" type="radio" id="alc_rate" @change="update_sorts('-alcohol', $event)"/>
                  <label htmlFor="price_drop">Alc.%</label>
                  <input name="top_drop" type="radio" id="ppml" @change="update_sorts('ppml', $event)"/>
                  <label htmlFor="price_drop">$/ml</label>
               </fieldset>

               <fieldset>
                  <label>
                     <input role="switch" type="checkbox" disabled checked/>
                     Booze Score
                  </label>
                  <label>
                     <input role="switch" type="checkbox" @change="update_filters('is_new', $event)"/>
                     New Items Only
                  </label>
               </fieldset>
            </div>
            <div>
               <h3>Search</h3>
               <fieldset>
                  <input type="search"
                     placeholder="Search..."
                     aria-label="Search"
                     :key="search"
                     :value="search"
                     @search="update_filters('search', $event)"
                     />
               </fieldset>
            </div>
            <div>
               <h3>Filter By</h3>
               <fieldset role="group">
                  <select name="country" aria-label="Counties" required :value="country" @change="update_filters('country', $event)">
                     <option value="">All</option>
                     <option v-for="country in countries" :key="country.code" :value="country.code">
                        {{ country.name }}
                     </option>
                  </select>
                  <select name="category" aria-label="Categories" required :value="category" @change="update_filters('category', $event)">
                     <option value="">All</option>
                     <option v-for="category in categories" :key="category.id" :value="category.id">
                        {{ category.description }}
                     </option>
                  </select>
                  <button class="secondary" type="reset" @click="reset()">Reset</button>
               </fieldset>
            </div>
         </div>
      </form>
   </script>

   <script type="text/x-template" id="item-component">
      <div class="category">
         <h2>{{ item.category }}</h2>
         <div :class="['grid', 'item', { inactive: !product.is_active }]"
            v-for="(product, index) in item.items"
            :key="index">
            <div class="image-container">
               <div @click="select(product)">
                  <img :src="product.alt_image" @mouseover="$event.target.src = product.image" @error="handleImageError($event, product.category)" />
               </div>
               <a href="#" :class="'fi fi-' + product.country.code.toLowerCase()" class="fis" @click="filter('country', product.country.code)"></a>
               <span class="upc">{{ product.actual_country }}</span>
               <span class="new" v-if="product.is_new">New</span>
            </div>
            <div class="product-details">
               <hgroup>
                  <p class="price" v-if="product.price.sale_price !== product.price.price">
                     <span class="crossed">${{ product.price.price }}</span>
                     <mark>${{ product.price.sale_price }}</mark>
                     <span>({{(product.price_drop_rate*100).toFixed(1)}}%)</span>
                     <br />
                     <small>${{ (product.price.price - product.price.sale_price).toFixed(2) }} OFF (until
                        {{printDate(product.price.promotion_end_date)}})</small>
                  </p>
                  <p class="price" v-else>${{ product.price.price }}</p>
                  <p>
                     <a :href="product.url" target="blank">{{ product.name }}</a>
                  </p>
               </hgroup>
               <p class="item-category">
                  <a href="#" v-for="(category, i) in product.full_category" :key="i" class="contrast" @click="filter('category', category.id)">{{category.description }}</a>
               </p>
               <div class="math">
                  <small>
                     <span>{{product.volume}}L</span> <span v-if="product.unit_size > 1">x {{product.unit_size}}</span>
                  </small>
                  <small>alc. {{ product.alcohol }}% vol.</small>
               </div>
               <div class="math">
                  <small>${{(product.ppml*100).toFixed(2)}}/100ml</small>
                  <small>Boozecore: {{product.combined_score.toLocaleString()}}</small>
               </div>
            </div>
         </div>
      </div>
   </script>

   <script type="text/x-template" id="modal-component">
      <dialog id="modalDialog" class="modal" open>
         <article class="modal-content">
            <header>
               <button @click="close()" aria-label="Close" rel="prev" data-target="modal-example"></button>
               <label>{{ product.name }}</label>
            </header>
            <div class="grid">
               <div class="image-container">
                  <img
                     :src="renderImage()"
                     @error="handleImageError($event, product.category)"
                     class="modal-image" />
               </div>
               <div>
                  <hgroup>
                     <h3><a :href="product.url" target="blank">{{ product.name }}</a></h3>
                     <p>{{ product.tastingDescription }}</p>
                  </hgroup>

                     <table>
                        <tbody>
                          <tr>
                            <th scope="row">Price</th>
                            <td>${{ product.price.sale_price }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Unit size</th>
                            <td>{{ product.unit_size }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Volume</th>
                            <td>{{ product.volume }}L</td>
                          </tr>
                          <tr>
                            <th scope="row">Alc. %</th>
                            <td>{{ product.alcohol }}%</td>
                          </tr>
                          <tr>
                            <th scope="row">$/100ml</th>
                            <td>${{ (product.ppml*100).toFixed(2) }}/100ml</td>
                          </tr>
                          <tr>
                            <th scope="row">Boozecore</th>
                            <td><progress-bar :value="product.combined_score" /></td>
                          </tr>
                        </tbody>
                     </table>

                  <canvas ref="myChart" width="400" height="400"></canvas>
               </div>
            </div>
            <footer>
               <button autofocus="" @click="close()">Close</button>
            </footer>
         </article>
      </dialog>
   </script>

   <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lz-string/1.4.4/lz-string.min.js"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script> <!-- Include the date adapter -->
   <script src="/static/upc.js"></script>
   <script src="/static/utils.js"></script>
   <script src="/static/components/FilterComponent.js"></script>
   <script src="/static/components/ItemComponent.js"></script>
   <script src="/static/components/ModalComponent.js"></script>
   <script src="/static/app.js"></script>
</body>

</html>
