body {
   height: 100%;
   overflow-y: scroll;
}

:root {
   --pico-font-size: 90%;
   --pico-typography-spacing-vertical: 1.5rem;
   --pico-form-element-spacing-vertical: 1rem;
   --pico-form-element-spacing-horizontal: 1.25rem;
}

h1,
h2,
h3,
h4 {
   --pico-font-family: Pacifico, cursive;
   --pico-font-weight: 400;
   --pico-typography-spacing-vertical: 0.5rem;
}

button {
   --pico-typography-spacing-vertical: .05rem;
   --pico-form-element-spacing-vertical: .1rem;
}

header {

   display: flex;
   align-items: center;
   gap: 1rem;

   a {
      min-width: 142px;
      min-height: 100px;
      height: auto;
   }

   hgroup {
      margin: 0;
   }

   a {
      img {
         height: 100px;
      }
   }
}


#app {
   position: relative;

   #filters{
      position: absolute;
      right:0px;
      top:-100px;

      button, span{
         margin-left: calc(var(--pico-spacing)* .5);
      }
   }
}

.item {
   margin-bottom: 5px;
   border-radius: 10px;
   overflow: hidden;

   .price {
      .crossed {
         text-decoration: line-through;
         color: rgb(231, 86, 14);
      }

      mark {
         font-weight: bold;

         small {
            font-weight: normal;
         }
      }
   }

   small {
      color: var(--pico-muted-color);
   }

   .item-category {
      font-size: small;
      a {
         display: block;
      }
   }

   .image-container {
      position: relative;
      display: flex;
      overflow: hidden;
      justify-content: center;
      /* Center horizontally */
      align-items: center;
      /* Center vertically */
      background-color: white;

      img {
         max-height: 100px;
         transition: transform 0.3s ease-in-out;
      }

      .fis {
         position: absolute;
         top: 5px;
         right: 5px;
      }
   }

   .math {
      font-size: small;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 5px;

      small:nth-child(1) {
         justify-self: start;
      }

      small:nth-child(2) {
         justify-self: end;
      }

      small {
         font-size: 80%;
         display: block;
      }
   }
}

.image-container img::after {
   content: attr(data-src);
}

.grid.item:hover {
   background-color: rgba(102, 102, 102, 0.1);

   .image-container img {
      transform: scale(1.25);
   }

   .image-container img {}



   .image-container {
      background-image: attr(data-src url);
   }
}
